language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_script:
  - composer self-update
  - composer update --prefer-source --dev

script:
  - ./vendor/bin/phpunit
  - php build/coverage-checker.php build/clover.xml 80
  - ./vendor/bin/phpcs --standard=PSR2 ./src/ ./tests/
