{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "badge": {
            "branch": "master"
        }
    },
    "minMsi": 83.9,
    "minCoveredMsi": 88
}
