{
    "source": {
        "directories": [
            "src"
        ],
        "exclude": [
            "./tests/language-feature-scripts/"
        ]
    },
    "timeout": 15,
    "logs": {
        "text": "infection.txt",
        "json": "infection.json"
    }
}