{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "badge": {
            "branch": "master"
        }
    },
    "minMsi": 84.3,
    "minCoveredMsi": 86
}
