parameters:
    level: 4
    paths:
        - tests/language-feature-scripts
        - tests/ProxyManagerBench
        - tests/ProxyManagerTest
    ignoreErrors:
        # We only mock this dependency, and never really require it:
        - '#Zend\\Server\\Client#'

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
