parameters:
    level: 7
    paths:
        - src
        - tests/language-feature-scripts
        - tests/ProxyManagerBench
        - tests/ProxyManagerTest
    ignoreErrors:
        # We only mock this dependency, and never really require it:
        - '#Zend\\Server\\Client#'
        # https://github.com/Ocramius/ProxyManager/issues/363:
        - '#::generate\(\) invoked with#'

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
